* {
  text-align: center;
}

svg {
  background-color: lightgreen;
}

#tooltip {
  background: lightcyan;
  position: absolute;
  width: auto;
  border-radius: 5px;
  padding: 5px;
  font: 12px;
  pointer-events: none;
  visibility: hidden;
}
