* {
  text-align: center;
}

body {
  height: 100vh;
}

svg {
  background-color: #F0FFFF;
}

#tooltip {
  text-align: left;
  position: absolute;
  background: lightskyblue; /* Set the background color here */
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  pointer-events: none;
  visibility: hidden;
}
